.title {
    font-size: 2rem;
    margin: 2rem 0 0 0;    
}

.journeys-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.journey {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); 
    grid-template-rows: minmax(9rem, 1fr);
    align-items: center;
    gap: 10px;
    width: 100%;
}
.step-arrow {
    display: flex;
    width: 11rem;
    height: 9rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.step {
    width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 3px;
    border: 1px solid #333;
}

.step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step.first-step {
    background-color: #333;
    color: #fff;
}

.step-description {
    font-size: 16px;
}

.arrow {
    font-size: 2rem;
    color: #333;
    display: block;

}
.add-step-button {
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 3px;
  border: 1px solid #333;
  background-color: #f0f0f0;
  font-size: 16px;
}
.touchpoint {
  background: var(--red-primary);
  height: 25px;
  width: 25px !important;
  border-radius: 50px;
  transform: translateX(-50px);
}