
.main.row {
  width: 275px;
  left: 2px;
  position: relative;
}
.progress {
  width: 70px;
  height: 70px !important;
  float: left; 
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-2 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  color: #000;
  line-height: 60px;
  text-align: center;
  position: relative;
  top: 5%;
  left: 5%;
}


@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
@keyframes aumentar {
  0% {transform: scale(1.0);}
  100% {transform: scale(1.04);}
}
.badge.progress-label {
  position: relative;
  font-size: 1.3rem;
  font-weight: 400;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 3px 0 0 0 ;
  text-align: center;
  top: -13px;
  left: -70px;
  width: 250px;
  height: 3rem;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px grey;
  /* animation: .4s ease-out transform; */
}

span.triangle {
  display: block;
  width: 10px !important;
  height: 10px !important;
  position: relative;
  top: -15px;
  transform: translateX(120px) rotateZ(45deg);
}
.badge.progress-label:hover { 
  animation: .4s ease-out aumentar forwards;
}
