:root {

  --purple-primary: #441b97;
  --black-primary: #1a1a1a;
  --red-primary: #dc3545;
  --blue-primary: #5f84ff;
  --white-primary: #ffffff;
}
.App {
  box-sizing: border-box;
}

.bg-purple {
  background: var(--purple-primary);
}

.bg-blue {
  background: #5f84ff;
}




.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto 2rem;

}

.project-item {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  
}