.App {
  box-sizing: border-box;
}
.bg-purple{
  background: #712cf9 ;
}

.bg-blue {
  background: #5f84ff;
}




.project-container {
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto 2rem;
  cursor: pointer;
}

.project-item {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  
}