.App {
  box-sizing: border-box;
}
.bg-purple{
  background: #712cf9 ;
}

.bg-blue {
  background: #5f84ff;
}

.row {
  margin: 0 0 1rem 0;
  align-items: center;
}

.col{
  border: 1px solid #555;
  height: 3.7rem;
  text-align: center;
  align-items: center ;
  justify-content: center;
  display: flex;
}

